body{
    padding: 0;
    margin: 0;
}


header{

    background-color: aquamarine;
}

header img{

    width: 200px;
    height: 200px;
    padding: 10px;   

}


nav{

    background-color: yellow;
    height: 30px;
    padding:20px;

}


nav ul li{

    float: left;
    margin-left: 30px;
    list-style: none;

}


aside{
    background-color: pink;
    float: left;
    width: 20%;
    margin: 30px;
    padding: 10px;
    height: 300px;
    
}

aside form input{
    display:block;
    margin: 10px;
}

main{

    background-color: orange;
    padding: 30px;
    height: 300px;
    

}

main section img{
    width: 100px;
    height: 100px;
    
}

article{
    width: 20%;
    background-color: rgb(240, 0, 0);
    float: left;
    margin-left: 100px;
    height: 300px;
    padding: 10px;
    
}

article section input{
    display: block;
}

footer{

    height: 80px;
    width: 100%;
    display: block;
    background-color: blue;
}

footer p{
    text-align: center;
    width: 100%;
    margin: 0;
    height: 60px;
    padding-top: 20px;
    padding-top: 20px;
}

